{% extends "base.html" %}
{% from "form_macro.html" import render_field %}

{% block title %}
Thermos - Login
{% endblock %}

{% block content %}      
        <header>
            <h1>Create an Account</h1>
        </header>      
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.nm_firstName, size=40) }}
                {{ render_field(form.nm_lastName, size=40) }}
                {{ render_field(form.nm_email, size=80) }}
                {{ render_field(form.nm_userName, size=20) }}
                {{ render_field(form.nm_password, size=20) }}
                {{ render_field(form.nm_password2, size=20) }}
                <tr class="submit">
                    <td colspan="2">
                        <button type="submit">Submit</button>
                    </td>
                </tr> 
            </table>       
        </form>   
{% endblock %}   

{% block sidebar %}     
{% endblock %}     