{% extends "base.html" %}

{% block title %}
Thermos - Bookmarks for an user {{ user.nm_userName }}
{% endblock %}

{% block content %}      
        <header>
            <h1>Bookmarks for {{ user.nm_userName }}</h1>
        </header>      
        <section>
            {% if user.bookmarks.count() > 0 %}
                    <ul class="bookmarks">
                        {% with bookmarks = user.bookmarks %}
                            {% include "bookmark_list.html" %}
                        {% endwith %}
                    </ul>
                {% else %}
                    This user has not added any bookmarks yet.
                {% endif %}
        </section>
{% endblock %}   

{% block sidebar %}     
{% endblock %}          